<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/images.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        <p>{{>header}}</p>
    <h3>Hey! </h3>
    <p>I'm Rajat currently working at TCS, I have been passionate about development and worked on some great tech stack while creating this project like express, json, API, npm packages, styling and more.. </p>
    
    <img src="/img/abt.png">
    </div>
    
    <p>{{>footer}}</p>
</body>
</html>