<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/images.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help Page</title>
</head>
<body>
    <div class="main-content">
    <p>{{>header}}</p>

    <p>It's your help page about Weather app -</p>
    <table>
        <tr>
            <td>> It's a weather app to get your latest weather updates at your location.</td>
        </tr>
        <tr>
            <td>> Type any loaction in the search bar and get started!</td>
        </tr>
        <tr>
            <td>> Please always use a vaild or complete location to get accurate results.</td>
        </tr>
    </table>
    </div>
    
    <p>{{>footer}}</p>
</body>
</html>