<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/images.png">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Base</title>
</head>
<body>
    <div class="main-content">
        <p>{{>header}}</p>
    
    
    <p>Get your Weather here!</p>

    <form >
        <input placeholder="location">
        <button>Search</button>
    </form>


    <img src="" id="gif">
    <p id="msg-1"></p>
    <p id="msg-2"></p>

    </div>

    <p>{{>footer}}</p>

    <script src="/js/app.js"></script>
</body>
</html>